* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: floralwhite;
}

header {
    background-color: darkslategrey;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    opacity: 95%;
}

header nav {
    padding: 20px 0;

}

header ul li {
    display: inline-block;    
    margin: 0 10px;
}

header ul li a {
    color: ghostwhite;
    text-decoration: none;
}

header ul li a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

h2 {
    margin: 50px 0 20px;
}

h3 {
    text-align: center;
}

p {
    line-height: 1.2;
}

table {
    width: 75%;
    border: 1px solid darkslategrey;
    margin: 0 auto;
}

th, td {
    border: 1px solid darkslategrey;
    padding: 5px;
}

.content {
    margin: 0 50px;
}

.tag, .example, .code {
    font-family: 'Courier New', Courier, monospace;
}

.banner {
    background-image: url('pictures/cheat.jpg');
    height: 300px;
    width: 100%;
    background-size: 135%;
    position: relative;
    color: darkslategrey;
    opacity: 90%;    
}

.banner:hover {
    opacity: 100%;
}

.banner h1 {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 42px;
}

.banner p {
    position: absolute;
    font-weight: bold;
    top: 60%;
    left: 5%;
    font-size: 22px;
}

footer {
    background-color: dimgrey;
    position: relative;
    top: 0;
    left: 0;
    height: 210px;
    line-height: 1.4;
    margin: 50px 0 0;
}

footer #info {    
    width: 30%;
    margin: 10px;
    position: absolute;
    left: 0;
    text-align: justify;
    color: beige;
    height: 100%;
}

footer #copyright {
    width: 30%;
    margin: 10px;
    position: absolute;
    left: 33%;
    text-align: center;
    color: ghostwhite;
    height: 100%;
}

footer #copyright a {
    color: aliceblue;
}

footer #copyright a:hover {
    color: antiquewhite;
}

footer #contact {
    width: 30%;
    margin: 10px;
    position: absolute;
    left: 66%;
    color: beige;
    text-align: justify;
    height: 100%;
}

#go-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
}

#go-top a img {
    width: 100%;
}