* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: floralwhite;
}

header {
    background-color: darkslategrey;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    opacity: 95%;
}

header nav {
    padding: 20px 0;

}

header ul li {
    display: inline-block;    
    margin: 0 10px;
}

header ul li a {
    color: ghostwhite;
    text-decoration: none;
}

header ul li a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    margin: 0 0 20px;
    background-color: ghostwhite;
    color: dimgray;
    position: relative;
}

h2::before {
    content: '';
    background: rgb(57,87,87);
    background: linear-gradient(90deg, rgba(57,87,87,0) 0%, rgba(57,87,87,1) 25%, rgba(57,87,87,1) 50%, rgba(57,87,87,1) 75%, rgba(57,87,87,0) 100%);
    position: absolute;
    top: -40px;
    left: 25%;
    width: 50%;
    height: 2px;
    opacity: 50%;
}

h3 {
    text-align: center;
    color: darkslategrey;
}

p {
    line-height: 1.4;
}

table {
    width: 75%;
    border: 1px solid darkslategrey;
    margin: 0 auto;
}

th, td {
    border: 1px solid darkslategrey;
    padding: 5px;
}

th {
    background-color: azure;
    color: gray;
}

tr:hover {
    background-color: beige;
}

.tag {
    width: 20%;
}

.caption {
    width: 20%;
}

.example {
    width: 20%;
}

.values {
    width: 50%;
}

.content {
    margin: 0 50px;
}

.tag, .example, .code {
    font-family: 'Courier New', Courier, monospace;
}

.banner {
    background-image: url('pictures/cheat.jpg');
    height: 300px;
    width: 100%;
    background-size: 135%;
    position: relative;
    color: darkslategrey;
    opacity: 90%;    
}

.banner .banner-bg {    
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 60%;
}

.banner:hover {
    opacity: 100%;
}

.banner h1 {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 42px; 
}

.banner p {
    position: absolute;
    font-weight: bold;
    top: 60%;
    left: 5%;
    font-size: 22px;
}

footer {
    background-color: dimgrey;
    line-height: 1.4;
    margin: 50px 0 0;   
    overflow: auto; 
}

footer #info {   
    display: block; 
    float: left;
    width: 30%;
    margin: 10px;
    text-align: justify;
    color: beige;
}

footer #copyright {
    width: 30%;
    margin: 10px;
    display: block; 
    float: left;
    text-align: center;
    color: ghostwhite;
}

footer #copyright a {
    color: aliceblue;
}

footer #copyright a:hover {
    color: antiquewhite;
}

footer #contact {
    width: 30%;
    margin: 10px;
    color: beige;
    text-align: justify;
    display: block; 
    float: left;
}

#go-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
}

#go-top a img {
    width: 100%;
}

#about-me, #html-tables, #html-basic, #css-selectors, #css-properties {
    padding-top: 100px;
}